<div class="filter-div" id="filter-div">

    <form action="" method="POST" id="filter-form" class="filter-form">
        <div class="filter-inside">
            <div class="opcije">
                <label for="" class="main-label">RAZRED</label><br>
                <input type="checkbox" name="razred" value="1." class="check">
                <label for="razred">1.</label><br>
                <input type="checkbox" name="razred" value="2." class="check">
                <label for="razred">2.</label><br>
                <input type="checkbox" name="razred" value="3." class="check">
                <label for="razred">3.</label><br>
                <input type="checkbox" name="razred" value="4." class="check">
                <label for="razred">4.</label><br>
            </div>

            <div class="opcije">
                <label for="" class="main-label">STANJE</label><br>
                <input type="checkbox" name="stanje" value="novo" class="check">
                <label for="stanje">Novo</label><br>
                <input type="checkbox" name="stanje" value="korišteno" class="check">
                <label for="stanje">Korišteno</label><br>
            </div>

            <div class="opcije">
            <label for="" class="main-label">SMJER</label><br>
                <input type="checkbox" name="smjer" value="Web Dizajn" class="check">
                <label for="smjer">Web Dizajn</label><br>
                <input type="checkbox" name="smjer" value="Medicina" class="check">
                <label for="smjer">Medicina</label><br>
                <input type="checkbox" name="smjer" value="Turisticka" class="check">
                <label for="smjer">Turisticka</label><br>

                <input type="checkbox" name="smjer" value="Elektrotehnicka" class="check">
                <label for="smjer">Elektrotehnička</label><br>
                <input type="checkbox" name="smjer" value="CNC programer" class="check">
                <label for="smjer">CNC programer</label><br>
                <input type="checkbox" name="smjer" value="Vodoinstalater" class="check">
                <label for="smjer">Vodoinstalater</label><br>
            </div>


            <div class="opcije">
                <label for="" class="main-label">RAZLOG</label><br>
                <input type="checkbox" name="razlog" value="razmjena" class="check">
                <label for="razlog">Razmjena</label><br>
                <input type="checkbox" name="razlog" value="prodaja" class="check">
                <label for="razlog">Prodaja</label><br>
                <input type="checkbox" name="razlog" value="prodaja/razmjena" class="check">
                <label for="razlog">Prodaja/Razmjena</label><br>
            </div>
            
        </div>
        <div class="osvjezi-div">
            <button type="submit" class="osvjezi">OSVJEŽI</button>
        </div>
    </form>

</div>