<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/css/header.css" type="text/css">
    <link rel="stylesheet" href="/public/css/form.css" type="text/css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css" integrity="sha512-YWzhKL2whUzgiheMoBFwW8CKV4qpHQAEuvilg9FAn5VJUDwKZZxkJNuGM4XkWuk94WCrrwslk8yWNGmY1EduTA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>Document</title>
</head>
<body>

    <%- include('partials/header.ejs') %>

<div class="form-wrap">
    <form action="" method="POST">
        <div class="form-head">
            LOGIN
        </div>
        <div>
            <input type="email" id="email" class="form-input" name="email" placeholder="Email">
        </div>
        <div>
            <input type="password" id="password" class="form-input"  name="password" placeholder="password">
        </div>
        <button type="submit" name="login" class="form-button" id="login">Login</button>
    </form>
        <div class="err-msg">
            <%= errMsg%>
        </div>
</div>
    <script src="/public/js/header.js"></script>
</body>
</html>