@font-face {
    font-family: Sora-Light;
    src: url(/public/assets/fonts/sora/Sora-Light.ttf);
  }

  @font-face {
    font-family: Sora-Bold;
    src: url(/public/assets/fonts/sora/Sora-Bold.ttf);
  }

.main {
    width: 100%;
    display: flex;
    justify-content: center;
}

.contact-wrap {
    width: 600px;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0 0 0;
  
}

.contact-form {
    width: 100%;;
}

.line {
    width: 100%;
}

input {
    width: 100%;
    height: 50px;
    margin: 0 0 5px 0;
    border: none;
    background-color: rgba(255, 255, 255, 0);
    border-bottom: 2px solid #002149;
    border-radius: 2px;
    padding: 10px;
    font-family: Sora-Light;
    font-size: 18px;
    
}


input::placeholder {
color: #90aed1;
}

.one {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.first-name {
    width: 49%;
}
.last-name {
    width: 49%;
}

.submit {
    width: 100%;
    height: 50px;
    color: white;
    background-color: #002149;
    border: 2px solid #002149;
    font-family: Sora-Bold;
    cursor: pointer;
}

.title {
    width: 100%;
    display: flex;
    justify-content: center;
    color: #002149;
}

.title-inside {
    font-family: Sora-Bold;
    width: 100%;
    font-size: 4em;
    text-align: center;
}

.message {
    height: 150px;
}

textarea {
    width: 100%;
    margin: 0 0 5px 0;
    border: none;
    background-color: rgba(255, 255, 255, 0);
    border: 2px solid #002149;
    padding: 10px;
    font-family: Sora-Light;
    resize: none;
    font-size: 18px;
}

textarea::placeholder {
    color: #90aed1;
}

.receiver {
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 20px 0;
}

.receiver-inside {
    width: 500px;
    color: #002149;
}


@media only screen and (max-width: 620px){
    .contact-wrap{
        width: 450px;
    }

    .receiver-inside {
        width: 450px;
    }
}

@media only screen and (max-width: 600px){
    .title-inside {
        font-size: 3em;
    }


    .contact-form {
        width: 90%;;
    }
    
    .line {
        width: 90%;
    }
}
